$light-primary: #3b82f6;
$dark-primary: #60a5fa;

$light-primary-container: #e0e7ff;
$dark-primary-container: #1e293b;

$light-surface: rgba(255,255,255,1);
$dark-surface: #1e293b;

$light-surface-variant: #f8fafc;
$dark-surface-variant: #0b1120;

$light-transparent-surface: rgba(255,255,255,0.2);
$dark-transparent-surface: rgba(30, 41, 59, 0.2);

$light-on-surface: #0f172a;
$dark-on-surface: #e2e8f0;

$light-on-surface-variant: #475569;
$dark-on-surface-variant: #94a3b8;

$light-on-surface-container: #f1f5f9;
$dark-on-surface-container: #1e293b;

$light-border: #cbd5e1;
$dark-border: #334155;

$light-border-variant: #eef2ff;
$dark-border-variant: #1f2a3e;

$light-transparent-border: rgba(0, 0, 0, 0.1);
$dark-transparent-border: rgba(255, 255, 255, 0.1);

$light-avatar-background: linear-gradient(145deg, #2563eb20, #7c3aed20);
$dark-avatar-background: linear-gradient(145deg, #60a5fa20, #3b82f620);

$light-timeline-line: linear-gradient(to right, #3b82f6, #94a3b8, #cbd5e1);
$dark-timeline-line: linear-gradient(to right, #3b82f6, #475569, #334155);

/*@include common.border(#eef2ff, 1px);
    @include common.border( #1f2a3e, 1px);*/


$themes: (
    light: (
        primary: $light-primary,
        primary-container: $light-primary-container,
        on-surface: $light-on-surface,
        on-surface-variant: $light-on-surface-variant,
        border: $light-border,
        border-variant: $light-border-variant,
        surface: $light-surface,
        surface-variant: $light-surface-variant,
        transparent-surface: $light-transparent-surface,
        avatar-background: $light-avatar-background,
        timeline-line: $light-timeline-line,
        transparent-border: $light-transparent-border,
        on-surface-container: $light-on-surface-container
    ),
    dark: (
        primary: $dark-primary,
        primary-container: $dark-primary-container,
        on-surface: $dark-on-surface,
        on-surface-variant: $dark-on-surface-variant,
        border: $dark-border,
        border-variant: $dark-border-variant,
        surface: $dark-surface,
        surface-variant: $dark-surface-variant,
        transparent-surface: $dark-transparent-surface,
        avatar-background: $dark-avatar-background,
        timeline-line: $dark-timeline-line,
        transparent-border: $dark-transparent-border,
        on-surface-container: $dark-on-surface-container
    )
);